/* Syntax for CSS is :
selector {
property : value
} */
body{
  background-color: lightyellow ;
}

h2{
  color: purple;
}
ol{
  color: rgb(89, 255, 0);
}
p{
  color: #bd48ad;
}
h3{
  color: rgba(255, 128, 0, 1);
}
ul{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}
.prompt{
  color: brown;
  background-color: rgb(159, 176, 209)
}
#spn1{
  background-color: blue;
}
