/* Syntax for CSS is :
selector {
property : value
} */
/*
this CSS linked to
C:\Users\Admin\Documents\HTML_LEVEL1\0322clscss.html
check html page for in line styles
*/
body{
  background-color: lightyellow ;
}

h2,h3,h4{
  color: purple ;
  font-size: : 24px ;
  width: 800px ;
  text-align: center;
  border-style: dotted;
  background-color: orange;
}
p{
  font-size: 16px;
  color: green ;
  width: 300px;
  height: 300px;
  border-style: inset;
  border-width: 5px;
  border-color: grey ;
  padding: 100px ;
  align-self: center;
  text-align: right;
  align-items: flex-start;
}
ul{
  border-color: red;
  border-width: 2px;
  border-style: solid;
}
/* prompt is class */
.prompt{
  color: brown;
  background-color: rgb(159, 176, 209)
}
/* spn1 is span ID */
#spn1{
  background-color: blue;
}
