body{
  width: 500px;
  margin: 0 auto;
}
p{
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(279,185,227);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.positioned{
  position: relative;
  top: 30px;
  left: 30px;
}
.positioned{
  position: absolute;
  top: 30px;
  left: 30px;
}
.positioned{
  position: fixed;
  top: 30px;
  left: 30px;
}
.positioned{
  position: sticky;
  top: 30px;
  left: 230px;
}
.stick{
  position: sticky;
  top: 30px;
  left: 230px;
}
dt{
  background-color: black;
  color: white;
  padding : 10px;
  position: sticky;
  top: 0;
  left: 0;
  margin: 1em 0;
}
