*{
  margin: 0;
  padding: 0;
}
h4{
  background-color: yellow;
}
table,tr,td{

  border-radius: 2px;
}
.textview{
  background-color: lightgreen;
  border-radius: 5px;
  height: 30px;
  width: 105px;
  text-align: right;
}
input:hover{
  background-color: #8c968f;
}
div{
  background-color: #52504d;
  height: 200px;
  width: 130px;
  padding-top: 5px;
  border-radius: 5px;
  color: white;

}
.btn{
  color: WHITE;
  background-color: black;
  border-radius: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
#red{
  color: white;
  background-color: red;
}
form{
  padding-bottom: 5px;
}
